.app {
  -webkit-app-region: drag;
}

.downlogo {
  position: absolute;
  left: calc(50% - 30px);
  bottom: 20px;
  width: 60px;
}

.title {
  font-weight: normal;
  -webkit-app-region: drag;
  margin-top: 35px;
}

.snippets-table {
  width: 23rem;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.keys {
  width: 23rem;
  margin-top: 1rem;
}

.keys button {
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0px solid #ccc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 100;
  background-color: #fff;
  color: #4e4e4e;
  line-height: 1rem;
  padding-top: 0;
  outline: 0;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
}

.keys button:first-child {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #ddd;
}

.keys button:nth-child(2) {
  border-radius: 0 4px 4px 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}

.row:nth-child(odd) {
  background: #faf9fa;
}

.row.row--selected {
  background: #29abe2;
}

.row.row--selected .cell input {
  color: #fff;
}

.row.row--selected .cell input::-webkit-input-placeholder {
  color: #fff;
}

.row.row--selected .cell input:-ms-input-placeholder {
  color: #fff;
}

.row.row--selected .cell input::-ms-input-placeholder {
  color: #fff;
}

.row.row--selected .cell input::placeholder {
  color: #fff;
}

.row .cell-wrong {
  border-bottom: 3px solid rgba(240, 0, 0, 0.6);
}

.row .cell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: .9rem;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.row .cell:first-child {
  border-right: 1px solid #ddd;
}

.row .cell input {
  background: transparent;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  outline: 0;
  height: 36px;
  border-bottom: none;
  font-family: "Montserrat", sans-serif;
  color: inherit;
  -webkit-app-region: no-drag;
}

.row .cell input::-webkit-input-placeholder {
  color: rgba(240, 0, 0, 0.6);
}

.row .cell input:-ms-input-placeholder {
  color: rgba(240, 0, 0, 0.6);
}

.row .cell input::-ms-input-placeholder {
  color: rgba(240, 0, 0, 0.6);
}

.row .cell input::placeholder {
  color: rgba(240, 0, 0, 0.6);
}

.row .cell input[disabled] {
  pointer-events: none;
}

.row--header {
  background: #fff !important;
}

.row--header .cell {
  font-size: .8rem;
  padding: .3rem 10px;
}

.rows {
  height: 10rem;
  overflow-y: scroll;
}

.checkboxes {
  margin-top: 1rem;
  font-size: .9rem;
}

.checkboxes label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
  cursor: pointer;
  width: 23rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: .5rem;
  font-size: 14px;
  color: #4e4e4e;
}

.checkboxes label input[type=checkbox] {
  margin-right: .5rem;
}

