<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Quickwords Preferences</title>

        <link rel="stylesheet" href="../../../assets/fonts/fonts.css">
        <link rel="stylesheet" href="../../styles/app.css">
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body style="-webkit-app-region: drag">
        <div id="app" class="app flex-column" @click.self="unselectAll">
            <div class="wrapper" @click.self="unselectAll">
                <div class="top-bar">
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                </div>
                <h1 class="title" @click.self="unselectAll"><img class="downlogo" src="../../../assets/logo.svg" alt="">Preferences</h1>
                <div id="snippets-table" class="snippets-table">
                    <div class="row row--header">
                        <div class="cell">key</div>
                        <div class="cell">value</div>
                    </div>
                    <div class="rows" ref="rows" @click.self="unselectAll">
                        <div
                            class="row"
                            v-for="snippet in snippets"
                            :class="{ 'row--selected': snippet.selected }"
                        >
                            <div
                                class="cell"
                                @click.exact.self="select(snippet)"
                                @click.ctrl.self="selectNext(snippet)"
                                @click.meta.self="selectNext(snippet)"
                                @contextmenu="contextMenu($event)"
                            ><input v-model="snippet.key" :disabled="! snippet.selected" placeholder="key can't be empty"></div>
                            <div
                                class="cell"
                                @click="showPopup($event)"
                                @click.exact.self="select(snippet)"
                                @click.ctrl.self="selectNext(snippet)"
                                @click.meta.self="selectNext(snippet)"
                                @contextmenu="contextMenu($event)"
                            ><input v-model="snippet.value" :disabled="! snippet.selected" placeholder=""></div>
                        </div>
                    </div>
                </div>

                <div class="keys" @click.self="unselectAll">
                    <button type="button" @click="add">+</button><button type="button" @click="remove">-</button>
                </div>

                <div class="checkboxes" @click.self="unselectAll">
                    <label for="startup">
                        <input type="checkbox" id="startup" v-model="autoLaunch"> Launch Quickwords at system startup
                    </label>

                    <!-- <label for="special">
                        <input type="checkbox" id="special"> Use space as a trigger key
                    </label> -->
                </div>
            </div>
        </div>

        <script src="./script.js"></script>
    </body>
</html>
