<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Quickwords Preferences</title>

        <link rel="stylesheet" href="../../../assets/fonts/fonts.css">
        <link rel="stylesheet" href="../../styles/app.css">
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div id="app" class="app flex">
            <div class="handle" v-if="isAttached"></div>
            <div class="handle-shadow" v-if="isAttached"></div>
            <div class="text-wrapper" v-if="editing">
                <div class="top">
                    <input type="text" v-model="editing.key" @contextMenu="contextMenu">
                    <label>
                        <input type="checkbox" v-model="editing.regex">
                        Use regular expression
                    </label>
                </div>
                <div class="middle">
                    <textarea v-model="editing.value" @contextmenu="contextMenu"></textarea>
                    <div class="error" v-if="error" :title="error"></div>
                </div>
                <div class="bottom">
                    <select v-model="editing.type">
                        <option value="plain" :selected="editing.type === 'plain'">Plain text</option>
                        <option value="js" :selected="editing.type === 'js'">JavaScript</option>
                    </select>
                </div>
            </div>
        </div>

        <script src="./script.js"></script>
    </body>
</html>
