<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Quickwords Preferences</title>

        <link rel="stylesheet" href="../../../assets/fonts/fonts.css">
        <link rel="stylesheet" href="../../styles/app.css">
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div id="app" class="app flex">
            <div class="handle" v-if="isAttached"></div>
            <div class="handle-shadow" v-if="isAttached"></div>
            <div class="text-wrapper" v-if="snippet">
                <textarea v-model="snippet.value"></textarea>
            </div>
        </div>

        <script src="http://localhost:8098"></script>
        <script src="./script.js"></script>
    </body>
</html>
