@import 'variables'

body
    margin: 0

.flex-column
    display: flex
    flex-direction: column
    align-items: center

.app
    font-family: $font
    background: $bg-light
    width: 100vw
    height: 100vh
    position: absolute
    left: 0px
    top: 0px
