@import '../../styles/variables'

.logo
    margin: 1.8rem 0

.logo img
    width: 200px

span
    font-size: 0.7rem
    font-weight: 100
    text-align: center

.hidden-link
    cursor: pointer

.buttons
    margin-top: 1rem
    display: flex
    justify-content: space-around
    flex-direction: row
    flex-flow: wrap
    padding: 0 1rem

.button
    margin-top: 1rem
    width: 80px
    height: 1.5rem
    line-height: 1.5rem
    flex-shrink: 0
    text-decoration: none
    background: $bg-white
    padding: .2rem .7rem
    border-radius: 1px
    font-size: .8rem
    background-color: $bg-white
    color: $text-color-dark
    text-align: center
    box-shadow: $shadow
    transition: box-shadow .2s ease-in-out

    &:hover
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .3), 0 2px 2px -2px rgba(0, 0, 0, .02), 0 1px 4px 0 rgba(0, 0, 0, .04)

    &:last-of-type
        width: 140px
        border-radius: 1.5rem
        line-height: 1rem
        height: 1rem
        margin-top: 1.6rem
        box-shadow: none
        background-color: transparent
        color: $text-color-blue

.footer
    height: 25px
    line-height: 25px
    margin-top: 8px

