.logo {
  margin: 1.8rem 0;
}

.logo img {
  width: 200px;
  margin-top: 10px;
}

.app {
  -webkit-app-region: drag;
}

span {
  font-size: 0.7rem;
  font-weight: 100;
  text-align: center;
}

.hidden-link {
  color: inherit;
  text-decoration: none;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  margin-top: 2rem;
}

.button {
  width: 80px;
  height: 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
  padding: .2rem .7rem;
  border-radius: 1px;
  font-size: .8rem;
  background: #fff;
  color: #141414;
  text-align: center;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.button:first-child {
  margin-right: 1rem;
}

.button:hover {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3), 0 2px 2px -2px rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
}

.footer {
  height: 25px;
  line-height: 25px;
  margin-top: 60px;
}

