<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>About Quickwords</title>

        <link rel="stylesheet" href="../../assets/fonts/fonts.css">
        <link rel="stylesheet" href="../../build/styles/app.css">
    </head>
    <body>
        <div class="app flex-column">
            <div class="logo">
                <img src="../../assets/logo.svg" alt="Quickwords">
            </div>
            <span><span id="dc" class="hidden-link">Dariusz Czajkowski</span> &amp; <span id="gt" class="hidden-link">Grzegorz Tłuszcz</span></span>
            <div class="buttons">
                <a class="button" href="https://github.com/quickwords/quickwords-electron">GitHub</a>
                <a class="button" href="#">Donate</a>
                <a class="button" href="#">Check for updates</a>
            </div>
            <span class="footer">
                version:
                <script>document.write(require('../../package.json').version)</script>
            </span>
        </div>

        <script>
            const electron = require('electron')
            const currentWindow = electron.remote.getCurrentWindow()
            const shell = electron['shell']

            document.querySelector('#dc').addEventListener('click', e => shell.openExternal('https://dczajkowski.com'))
            document.querySelector('#gt').addEventListener('click', e => shell.openExternal('https://github.com/gtluszcz'))
        </script>
    </body>
</html>
